<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# My Jupyter Notebook on IBM Watson Studio

**Camila Barrichello**
Translator and Interpreter

*I´m interested in Data Science, because it seems to me something extraordinary and revolutionary, how Data can help us to really see how the world works and all the possible horizons based on that information.*

**At this point, it is confusing, which of the instructions given by the course for this Final Project is the one we should follow (or maybe it is an error of understanding of my part) but given the doubt, I´m going to write both directives (thanks and apologies):**
(This is just a cell created to make this clarification, so the next cell is the one that corresponds to number 4)

### The following code will execute a sum between two integers:

In [2]:
100+100

200

______________________________________________________________________________________________________________________________________

- ONE
- TWO
- PINK
- VIOLET
- APPLE
- WATERMELON

[GOOGLE](https://www.google.com/)

| NAME | AGE | NATIONALITY |
| ---- | --- | ----------- |
| CAMILA | 31 | BRAZILIAN |
| PAULA | 23 | URUGUAYAN |
| MORENA | 14 | ARGENTINIAN |

______________________________________________________________________________________________________________________________________

### In this cell, I give continuity to the other "exercises" proposed for the Final Project:

# My Jupyter Notebook on IBM Watson Studio

**In this notebook we are going to see a small summary of the most important things that these weeks have left us:**

## DATA SCIENCE LANGUAGES:

- PYTHON
- R
- SQL
- SCALA
- JAVA
- C++
- JULIA
- JAVA SCRIPT
- PHP
- GO
- RUBY
- VISUAL BASIC

## DATA SCIENCE LIBRARIES:
**(Here it´s important to highlight that there are many libraries, so here we list some of them)**

**PYTHON LIBRARIES:**

- NumPy
- Pandas
- MATPLOTLIB
- Seaborn
- SciKit-learn
- Keras
- TensorFlow
- PyTorch


**SCALA LIBRARIES:**

- Vegas
- Big DL
- Akka
- Spark

**R LIBRARIES:**

- ggplot2
- dplyr
- plyr


**APACHE SPARK LIBRARIES:**

- Spark SQL
- MLlib
- GraphX

## DATA SCIENCE TOOLS:
 
*In order to talk about the different tools available for Data Science, it´s convenient, first, to understand that there are different TASKS/CATEGORIES within Data Science and therefore different tools, which are divided between:*

- OPEN SOURCE tools
- COMMERCIAL tools
- CLOUD BASED tools 

### Let's look at Open Source Tools:

| CATEGORY | TOOL |
| -------- | ---- |
| DATA MANAGEMENT | My SQL, PostgreSQL, Mongo DB, Apache Couch DB, Apache Cassandra, Hadoop File System, Ceph, Elastic Search |
| DATA INTEGRATION and TRANSFORMATION | Apache AirFlow, Kube Flow, Apache Kafka, Apache Nifi, Apache SparkSQL, NoteRed |
| DATA VISUALIZATION | Hue, Kibana, Apache Superset |
| MODEL DEPLOYMENT | Apache PredictionIO, Seldon, Mleap, TensorFlow Service, TensorFlow Lite, TensorFlow JS |
| MODEL MONITORING and ASSESSMENT | Model DB, Prometheus, IBM Fairness 360, IBM Adversarial Robustness 360 Toolbox, IBM AI Explainability 360 ToolKit |
| CODE ASSET MANAGEMENT | GitHub, GitLab, Bitbucket |
| DATA ASSET MANAGEMENT | Apache Atlas, ODPi Egeria, Kylo |
| DEVELOPMENT ENVIRONMENTS | Jupyter, Apache Zeppelin, R Studio, Spyder |
| EXECUTION ENVIRONMENTS | Apache Spark, Apache Flink, Ray |
| FULLY INTEGRATED VISUAL TOOLS | Knime, Orange |
                                    

### Let´s look at Commercial Tools:

| CATEGORY | TOOL |
| -------- | ---- |
| DATA MANAGEMENT | Oracle DataBase, Microsoft SQL Server, IBM DB2 |
| DATA INTEGRATION and TRANSFORMATION | Informatica PowerCenter, IBM InfoSphere DataStage, SAP, Oracle, SAS, Talend, Microsoft, IBM Watson Studio Desktop |
| DATA VISUALIZATION | Tableau, Microsoft Power BI, IBM Cognos Analytics, Watson Studio Desktop |
| MODEL BUILDING | SPSS Modeler, SAS Enterprise Miner |
| CODE ASSET MANAGEMENT | Informatica Enterprise Data Governance, IBM InfoSphere Information Governance Catalog |
| DEVELOPMENT ENVIRONMENTS | IBM Watson Studio Desktop, Watson Open Scale, H20 |


### Finally, let´s look at Cloud Based Tools:

| CATEGORY | TOOL |
| -------- | ---- |
| FULLY INTEGRATED VISUAL TOOLS AND PLATFORMS | Watson Studio, Watson OpenScale, Azure, H20 Driverless AI |
| DATA MANAGEMENT | Amazon DynamoDB Web Service, Cloudant, DB2 |
| DATA INTEGRATION and TRANSFORMATION | Informatica Cloud Data Integration, Data Refinery IBM |
| DATA VISUALIZATION | Datameer, IBM Cognos Analytics |
| MODEL BUILDING and MODEL DEPLOYMENT | IBM Watson Machine Learning, Google Cloud |
| MODEL MONITORING and ASSESSMENT | Amazon SageMaker Model Monitor, Watson OpenScale |

______________________________________________________________________________________________________________________________________

$200+300-100=400$

$400-100-50=250$

$a+b=c$

$c-b=a$

$c-a=b$

______________________________________________________________________________________________________________________________________

In [1]:
x = 50

y = 2

a = 5

result = x * y + a

print(result)

105

______________________________________________________________________________________________________________________________________

In [3]:
hours = 2

minutes = hours * 60

print(minutes)

120

______________________________________________________________________________________________________________________________________

### OBJECTIVES:

- Create a Portfolio

- Focus my career towards the well-being of women: using the knowledge acquired I want to expose the reality and seek new horizons based on that.

______________________________________________________________________________________________________________________________________

By Camila Barrichello @camilaroier

______________________________________________________________________________________________________________________________________

### AT THIS POINT, WHEN I HAVE TO UPLOAD MY WORK TO GITHUB, A THIRD TUTORIAL APPEARS! : I´M NOT GOING TO DELETE ALL MY PREVIOUS WORK: THE COURSE (AT THIS POINT) DOES NOT PROVIDE CLEARNESS, THERE ARE A TOTAL OF 3 INSTRUCTIONS ON HOW TO MAKE THE NOTEBOOK, SO I CONTINUE TO WRITE A THIRD ´´FINAL PROJECT´´:
______________________________________________________________________________________________________________________________________

# Data Science Tools and Ecosystem

**In this notebook, Data Science Tools and Ecosystem are summarized.**

**OBJECTIVE:**

- Some of the popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists 
- Some Data Science Tools
- Few examples of evaluating arithmetic expressions in Python
- Author

**Some of the popular languages that Data Scientists use are:**

1. PYTHON
2. R
3. SQL
4. SCALA
5. JAVA
6. C++
7. JULIA
8. JAVA SCRIPT
9. PHP
10. GO
11. RUBY
12. VISUAL BASIC

**Some of the commonly used libraries used by Data Scientists include:**


**PYTHON LIBRARIES:**

1. NumPy
2. Pandas
3. MATPLOTLIB
4. Seaborn
5. SciKit-learn
6. Keras
7. TensorFlow
8. PyTorch


**SCALA LIBRARIES:**

9. Vegas
10. Big DL
11. Akka
12. Spark

**R LIBRARIES:**

13. ggplot2
14. dplyr
15. plyr


**APACHE SPARK LIBRARIES:**

16. Spark SQL
17. MLlib
18. GraphX

| DATA SCIENCE TOOLS |
| ------------------ |
| MySQL |
| Apache AirFlow |
| GitLab |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [13]:
# This a simple arithmetic expression to mutiply then add integers:

(3*4)+5

17

In [14]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author
Camila Barrichello